.simulacion-view {
    background-image: url('../../../resources/media/monteSimu.jpg');
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.simulacion-container {
    width: 90%;
    max-width: 600px; /* Cambiado a un tamaño menor */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Título de categorías */
.category-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

/* Campos de gastos en una columna para móvil */
.gastos-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Campo de gasto */
.gasto-field {
    width: 100%;
    margin-bottom: 10px;
}

/* Botón para calcular */
.calcular-button {
    width: 100%;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    font-size: 1rem;
    margin-top: 15px;
}

.calcular-button:hover {
    background-color: #E64A19;
}

/* Diseño adaptativo para pantallas pequeñas */
@media (max-width: 767px) {
    .simulacion-container {
        width: 95%;
        padding: 15px;
    }

    .gastos-container {
        flex-direction: column;
    }

    .gasto-field {
        width: 100%;
    }

    .calcular-button {
        padding: 12px;
        font-size: 1rem;
    }
}
